<h2 mat-dialog-title> {{title}}</h2>
<mat-dialog-content> 
    <mat-form-field> 
        <input matInput [(ngModel)]="userInput" type="number" (keydown)="onKeyDown($event)">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <div>
        <button type="button"  class="btn btn-info mr-5" tabindex="-1" (click)="save()">{{buttonText}}</button>
        <button type="button" class="btn btn-light" tabindex="-1" (click)="close()">Close</button>
    </div>
</mat-dialog-actions>