<div class="toolbar" role="banner"> 
  <span>Work Day Tracker</span>
    <div class="spacer"></div> 
</div> 
 
<div class="content" role="main"> 
  <div style="margin: 20px;">
    <span style="color: coral; margin-right: 30px; font-size: large;" > 
      Hourly Employee in coral
    </span>
    <span  style="color:cornflowerblue; margin-right: 30px; font-size: large;" >
      Salaried Employee in cornflowerblue
    </span>
    <span  style="color:darkseagreen;  margin-right: 30px; font-size: large;">
      Salaried Manager in darkseagreen
    </span>
  </div> 
  <table class="table fixed_header">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Working Days</th>
        <th scope="col">Vacation Days</th>
        <th scope="col">Add Work Days</th>
        <th scope="col">Add Vacation</th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let employee of allEmployees;let i = index" [ngStyle]="{'background-color': getColor(i)}">
        <th scope="row">{{employee.employeeID}}</th>
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.workingDays}}</td>
        <td>{{employee.vacationDays}}</td>
        <td>
          <button class="btn btn-primary" (click)="addWorkDays(i)">Add WorkDays</button> 
        </td>
        <td>
          <button class="btn btn-info" (click)="takeVacation(i)">Take Vacation</button> 
        </td>
      </tr>
    </tbody>
  </table>
  </div> 
 